<header class="header">
  <div class="logo">EduPlatform</div>
  <nav class="nav">
    <a routerLink="/courses" routerLinkActive="active">Курсы</a>
    <a routerLink="/grades" routerLinkActive="active">Оценки</a>
    <a routerLink="/schedule" routerLinkActive="active">Расписание</a>
    <a routerLink="/products" routerLinkActive="active">Товары</a>
  </nav>

  <ng-container *ngIf="user$ | async as user">
    <div class="user-info">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <button (click)="logout()">Выйти</button>
    </div>
  </ng-container>
</header>


